* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* variavel */
  --brand-color: #60A5FA ; 
  --brand-color-dark: #1D4ED8; 
  /* variavel do background color */
  --background-color: ##0F172A;
  /* variavel do stroke */ 
  --stroke-color: ##1E293B; 
  /* variavel do texto primario */ 
  --text-color-primary: #F1F5F;
  /* variavel do texto secundario */
  --text-color-secondary: #CBD5E1; 
  /* variavel da font importada */
  font-family: "Archivo", sans-serif;
  /* variavel da font larga tendo tamanho da font definindo o line-heigth */
  --text-h1: bold 24px/135% var(--font-family);  
  /* variavel do texto tendo tamanho da font definindo o line-heigth 150% ou 1.5*/
  --text-h2: 16px/140% var(--font-family);
  /* variavel da font do meio tendo tamanho da font definindo o line-heigth */
  --text-h3 : 14px/140% var(--font-family);
  /* variavel da font do small tendo tamanho da font definindo o line-heigth */
  --text-span: 14px/145% var(--font-family);  
  /*variavel de texto do paragrafo */
  --text-paragraph: 14px/160% var(--font-family);  
   
}

body {
  /* variavel da font que vai na page */
  font: var();
  /* dentro do parenteses vai a variavel */ 
  color: var(--text-color-secondary); 
  /* variavel do fundo da page */
  background-color: var(--background-color); 
}

/* vai conter a nivel de projeto */
.container {
  /* vai definir o espaço nas laterais */
  padding-inline: 32px;
  /* largura maxima */
  max-width: 1280px;
  /* so vai ser mexido nas laterais ficando automatico */
  margin-inline: auto;
}
 /* variavel aplicada a div antes do nav para nao ter limitacao de tamanho */
.bg-surface-color {
  /* variavel do fundo do cabecalho onde esta a logo */
  background-color: var(--surfarce-color);
}