* { /* * é um seletor global */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* variavel */
  --brand-color-light: #60A5FA ; 
  --brand-color-dark: #1D4ED8; 
  /* variavel do background color */
  --background-color: #0F172A;
  /* variavel do stroke */ 
  --stroke-color: #1E293B; 
  /* variavel do texto primario */ 
  --text-color-primary: #F1F5F9;
  /* variavel do texto secundario */
  --text-color-secondary: #CBD5E1; 

  /* variavel da font importada */
  font-family: "Archivo", sans-serif;
  /* variavel da font da tag H1 */
  --text-h1: 800 24px/135% var(--font-family);  
  /* variavel da font da tag H2 */
  --text-h2: 800 16px/140% var(--font-family);
  /* variavel da font da tag H3 */
  --text-h3 : 800 14px/140% var(--font-family);
  /* variavel da font da tag SPAN */
  --text-span: 600 14px/145% var(--font-family);  
  /* variavel do texto padrao */
  --text: 400 16px/140% var(--font-family);  
  /*variavel da font da tah PARAGRAFO */
  --text-sm: 400 14px/160% var(--font-family);     
}

body {
  /* variavel da font que vai na page */
  font: var(--text);
  /* dentro do parenteses vai a variavel */ 
  color: var(--text-color-primary); 
  /* variavel do fundo da page */
  background-color: var(--background-color); 
}

a {
  text-decoration: none; 
  color: inherit;
}

a:hover{
  color: var(--brand-color-light);
}

h1, h2, h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

.container{
  max-width: 1280px;
  padding-inline: 32px;
  margin-inline: auto;
}

main {
  margin-top: 40px;
}